body {
   margin:0;
}
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.main-container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.container{
  width:1160px;
  height:390px;
  background-image:url("Images/NY_2022.png");
  background-position:center;
  background-size:cover;
  transition:.4s;
  display:flex;
  align-items: center;
  justify-content:space-between;
  margin-left: 4px;
}
button{
  margin:1rem;
  outline:none;
  width:45px;
  height:45px;
  background:grey;
  font-size:1.1rem;
  border:none;
  border-radius:10%;
  opacity:.5;
  cursor:pointer;
  transition:.2s;
}
button:hover{
  opacity:1;
}
